.root {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.movieCard {
  width: 75%;
  display: flex;
  flex-direction: row;
}

.movieInfo {
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movieTitle {
  font-weight: bold;
  font-size: 30px;
}

.movieReleaseDate {
  margin-bottom: 20px;
}

.movieButton {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
