.root {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: center;
  width: 100%;
}

.spinner {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.movieCard {
  display: flex;
  flex-direction: row;
  width: 75%;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  width: 100%;
}

.movieTitle {
  font-size: 30px;
  font-weight: bold;
}

.movieReleaseDate {
  margin-bottom: 20px;
}

.movieButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  width: 100%;
}
